@use '../abstracts/' as *;

.home-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.roster-container,
.progress-container,
.previous-progress-container,
.recruiting-container {
  width: 100%;
  max-width: 500px;
  min-width: 320px;
  padding: 5px;
  h1 {
    font-weight: 600;
    @include textGradient();
    padding: 5px;
    font-size: 2.3rem;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid $grey900;
    margin-bottom: 15px;
  }
}

.raid-card {
  min-height: 150px;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid $grey900;
  h2 {
    background-color: $textBackground;
    width: 100%;
    font-size: 1.2rem;
    padding: 3px;
  }
}

.raid-ranks {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-text {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: $textBackground;

  h3 {
    width: 100%;
    padding: 3px;
    color: sandybrown;
    font-size: 1.25rem;

    .highlight {
      color: white;
    }
  }
}


.recruiting-container {
  hr {
    width: 65%;
    margin: 5px auto;
    height: 1px;
    border: none;
    background: $grey900;
  }

  .header {
    color: sandybrown;
    font-weight: 700;
    text-align: center;
    height: 30px;
    font-size: 1.3rem;
  }

  .raid-info-table {
    margin: 0 auto;
    width: 60%;

    tr {
      height: 20px;
    }

    .column-1 {
      text-align: left;
    }

    .column-2 {
      text-align: right;
    }
  }
  .recruiting-table {
    margin: 0 auto;
    width: 60%;

    tr {
      height: 30px;
    }

    .column-1 {
      text-align: left;
      font-weight: 700;
    }

    .column-2 {
      text-align: right;

      img {
        max-width: 30px;
        max-height: 30px;
      }
    }
  }
}

.recruiting-icons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 100%;
    max-width: 85px;
    margin: 1px;
  }
}

.character-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  width: 100%;
}

.character-card {
  position: relative;
  h4 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $textBackground;
    font-weight: 600;
    font-size: 0.9rem;
  }
  img {
    width: 100%;
    max-width: 85px;
  }
}

.previous-progress-container {
  table {
    margin: 0 auto;
    width: 80%;
  }
}

.first-th,
.raid-label {
  text-align: left;
}

.raid-label,
th {
  color: $grey700;
}

.death-knight {
  color: $dk_color;
}

.demon-hunter {
  color: $dh_color;
}

.druid {
  color: $druid_color;
}

.hunter {
  color: $hunter_color;
}

.mage {
  color: $mage_color;
}

.monk {
  color: $monk_color;
}

.priest {
  color: $priest_color;
}

.paladin {
  color: $paladin_color;
}

.rogue {
  color: $rogue_color;
}

.shaman {
  color: $shaman_color;
}

.warlock {
  color: $warlock_color;
}

.warrior {
  color: $warrior_color;
}
