$grey100: #ccc;
$grey400: #aaa;
$grey700: #777;
$grey900: #333;
$grey1000: #242424;

$cyan: rgba(4, 255, 255, 255);
$red: #fd6565;
$darkRed: #c44f4f;

$textBackground: rgba(0, 0, 0, 0.85);

$page_background_color: #121212;
$container_background_color: #161616;

$dk_color: #c41e3a;
$dh_color: #a330c9;
$druid_color: #ff7c0a;
$evoker_color: #33937F;
$hunter_color: #aad372;
$mage_color: #3fc7eb;
$monk_color: #00ff98;
$paladin_color: #f48cba;
$priest_color: #ffffff;
$rogue_color: #fff468;
$shaman_color: #0070dd;
$warlock_color: #8788ee;
$warrior_color: #c69b6d;
