.guild-application-container {
  width: 100%;
  color: #ccc;
}

.guild-application-container p {
  width: 80%;
  max-width: 500px;
  font-size: 1.5em;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.guild-application-container form {
  width: 80%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.guild-application-container input {
  text-decoration: none;
  font-size: 1.8em;
  background-color: rgba(4, 255, 255, 0.7);
  border: 1px solid black;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  font-weight: 700;
}

.guild-application-container input:hover {
  background-color: rgba(4, 255, 255, 1);
  cursor: pointer;
}
