.image-slider {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid #333;
}

/* .each-slide > div {
  display: flex;
  min-height: 400px;
  width: 100%;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
} */

.each-slide > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.each-slide > div:before {
  content: '';
  display: block;
  padding-bottom: 56.25%;
}

.arrow-slider {
  opacity: 0.3;
}

.arrow-slider:hover {
  opacity: 1;
}
