.stream-player {
  border: none;
}

.stream-container {
  margin: 0;
  padding: 0;
}

.stream-container ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, max-content));
  grid-gap: 5px;
  justify-content: center;
  padding: initial;
}

.stream-container li {
  text-align: center;
  display: inline-block;
  border: 1px solid #333;
  background-color: black;
}

.stream-container iframe {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 240px;
  text-align: center;
  border-bottom: 1px solid #333;
}
.stream-container span {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.stream-names {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
}

.stream-names img {
  width: 24px;
  height: 24px;
}
