@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
}

.container {
  max-width: 100%;
  width: 100%;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  min-height: calc(100vh - 50px);
}

.current-content {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.emphasized-item {
  color: rgba(4, 255, 255, 0.7);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #242424;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
